<link rel="stylesheet" href="/css/header.css">

<header>
    <div id="logo-name">
        Placement Cell
    </div>

    <ul>
        
        <% if(locals.user) {%>
            <li>
                <a href="/downloads">
                    <i class="fa-sharp fa-solid fa-download" style="padding-right: 0.2rem;"></i>Download
                </a>
            </li>

            <li>
                <a href="/users/sign-out">Sign Out</a>
            </li>
        <% } 
        else {%>
            <li>
                <a href="/users/sign-in">Sign In</a>
            </li>
    
            <li>
                <a href="/users/sign-up">Sign Up</a>
            </li>
        <% } %>

    </ul>
</header>