<div>
    <div>
        <h3>Interview Details</h3>
    </div>

    <form action="/interview/create-interviews" method="post">
        <input type="text" name="company_name" placeholder="Company Name" required>
        <input type="date" name="ineterview_date" placeholder="Interview Date" required>
        <input type="submit" value="Add Interview">
    </form>
</div>