<link rel="stylesheet" href="/css/add_student.css">

<div id="add-student-container">
    <h2>Student Details</h2>

    <form action="/students/create-student" method="post">

        <div class="input-box">
            <input type="text" name="name" required="required">
            <span>Name</span>
        </div>
        <div class="input-box">
            <input type="email" name="email" required="required">
            <span>Email</span>
        </div>

        <div class="input-box">
            <input type="text" name="batch" required="required">
            <span>Batch</span>
        </div>
        
        <select name="status" required>
            <option value="">Select Status</option>
            <option name="placed" value="Placed">Placed</option>
            <option name="notPlaced" value="Not Placed">Not Placed</option>
        </select>

        <div class="marks-container">
            <div class="input-box">
                <input type="number" min="0" max="100" name="dsa_mark" required="required">
                <span>DSA Mark</span>
            </div>

            <div class="input-box">
                <input type="number" min="0" max="100" name="fe_mark" required="required">
                <span>FE Mark</span>               
            </div>

            <div class="input-box">
                <input type="number" min="0" max="100" name="be_mark" required="required">
                <span>BE Mark</span>
            </div>
            
        </div>

        <input type="submit" value="Add Details">
    </form>
</div>