<link rel="stylesheet" href="style.css">

<!-- home page main section -->
<div>
    <!-- student list section -->
    <section>
        <div>
            <h4>Students List</h4>

            <p>
                <a href="students/add-student">Add<i class="fa-solid fa-user-plus"></i></a>
            </p>
        </div>
    </section>
</div>