<link rel="stylesheet" href="/css/sign_up.css">

<div class="signup-box">
    <h1>Sign Up</h1>

    <form action="/users/create" method="post">
        <input type="text" name="name" placeholder="Your Name" required>
        <input type="email" name="email" placeholder="Your Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
        <input type="submit" value="Sign Up">
    </form>

    <p>
        Already have an account? <a href="/users/sign-in">Login</a>
    </p>
</div>