<link rel="stylesheet" href="/css/update-student.css">

<div id="update-container">

    <form action="/students/update-student/<%= student._id %>" method="post">
        
        <div id="student-container">
                <h2>Update Student Details</h2>

            <div class="input-box">
                <input type="text" name="name" value="<%= student.name %>" required="required">
                <span>Name</span>
            </div>
            
            <div class="input-box">
                <input type="email" name="email" value="<%= student.email %>" required="required">
                <span>Email</span>
            </div>
            
            <div class="input-box">
                <input type="text" name="batch" value="<%= student.batch%>" required="required">
                <span>Batch</span>
            </div>
        </div>
        
        <div id="interview-container">
            <h2>Add Interview</h2>

            <div class="input-box">
                <input type="text" name="company_name" required="required">
                <span>Company Name</span>
            </div>
            
            <div class="input-box">
                <input type="date" name="interview_date" required="required">
                <span>Interview Date</span>
            </div>
            

            <select name="status">
                <option value="">Select Status</option>
                <option name="Passed" value="Passed">PASS</option>
                <option name="Failed" value="Failed">FAIL</option>
                <option name="On hold" value="On hold">On hold</option>
                <option name="Ongoing" value="Ongoing" selected>Ongoing</option>
                <option name="Didn't attempt" value="Didn't attempt">Didn't attempt</option>
            </select>

            <input type="submit" value="Update Details">
        </div>

        
    </form>

    

   
</div>