#add-interview-container {
    position: relative;
    h2 {
        position: absolute;
        left: 25.2rem;
        top: 7.9rem;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        width: 40rem;
        margin-left: 23.2rem;
        min-height: 80vh;
        gap: 1rem;
        // border: 1px solid white;
        background-color: #1d2b3a;

        .input-box {
            position: relative;
            width: 36rem;
            margin-left: 2rem;
            // border: 1px solid white;

            input {
                width: 95%;
                padding: 10px;
                border: 1px solid rgba(255, 255, 255, 0.25);
                background-color: #1d2b3a;
                border-radius: 0.7rem;
                outline: none;
                color: white;
                font-size: 1em;
                transition: 0.5s;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                
            }

            span {
                position: absolute;
                left: 0;
                padding: 10px;
                pointer-events: none;
                font-size: 1em;
                color: rgba(255, 255, 255, 0.25);
                transition: 0.5s;

            }

            input:valid ~ span,
            input:focus ~ span{
                color: #00dfc4;
                transform: translateX(10px) translateY(-7px);
                font-size: 0.65em;
                padding: 0 10px;
                background: #1d2b3a;
                border-left: 1px solid #00dfc4;
                border-right: 1px solid #00dfc4;
                letter-spacing: 0.2em;


            }

            input:valid,
            input:focus {
                border:1px solid #00dfc4;
            }

        }

        input[type="submit"] {
            font-size: 1rem;
            width: 35.7rem;
            height: 3rem;
            margin-top: 2rem;
            margin-left: 2rem;
            border: none;
            color: white;
            border-radius: 0.7rem;
            background-color: #49c1a2;
            transition: 0.5s;
            &:hover {
                background-color: #4bb543;
                cursor: pointer;
            }
        }
    }
}