footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #161b21;
    align-items: center;
    #social-icon {
        display: flex;
        justify-content: center;

        p {
            font-size: 1.3rem;
        }

        a{
            font-size: 1rem;
            padding: 1.6rem;
        }
    }
}