header{
    padding: 1rem 3rem;
    background-color: #161b21;
    #logo-name{
        font-size: 1.7rem;
        
    }

    ul {
        li {
            font-size: 1.4rem;
            padding-right: 2rem;
        }
    }
}