#iv-profile-container {
    position: relative;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        width: 40rem;
        margin-left: 23.2rem;
        min-height: 90vh;
        gap: 5rem;
        // border: 1px solid white;
        background-color: #1d2b3a;
        

        .input-box {
            position: relative;
            width: 36rem;
            margin-left: 2rem;
            // border: 1px solid white;
            input {
                width: 95%;
                padding: 10px;
                border: 1px solid rgba(255, 255, 255, 0.25);
                background-color: #1d2b3a;
                border-radius: 0.7rem;
                outline: none;
                color: white;
                font-size: 1em;
                transition: 0.5s;
                border:1px solid #00dfc4;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }

            span {
                position: absolute;
                left: 0;
                padding: 0 10px;
                font-size: 0.75em;
                color: #00dfc4;
                letter-spacing: 0.2em;
                background: #1d2b3a;
                border-left: 1px solid #00dfc4;
                border-right: 1px solid #00dfc4;
                transform: translateX(10px) translateY(-7px);
                
            }


            select {
                width: 10rem;
                font-size: 1em;
                height: 2.5rem;
                margin-right: 2.6rem;
                border-radius: 0.7rem;
                color: white;
                background: #1d2b3a;
                border: 1px solid #00dfc4;
                outline: none;

                option {
                    color: #00dfc4;
                }
            }
        }

        #iv-details {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h2 {
                position: absolute;
                left: 25.2rem;
                top: 2.5rem;
                
            }   
        }

        #selected-stud {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h2 {
                position: absolute;
                left: 25.2rem;
                top: 13.5rem;
                
            }  

            #iv-view {
                display: flex;
                justify-content: space-between;
                
            }
            
        }

        input[type="submit"] {
            font-size: 1rem;
            width: 35.7rem;
            height: 3rem;
            margin-top: 2rem;
            margin-left: 2rem;
            border: none;
            color: white;
            border-radius: 0.7rem;
            background-color: #49c1a2;
            transition: 0.5s;
            &:hover {
                background-color: #4bb543;
                cursor: pointer;
            }
        }
    
    }
    
}