body {
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #1d2b3a;
    box-sizing: border-box;
    font-family: sans-serif;

    a{
        color: white;
        text-decoration: none;
    }

    ul {
        list-style-type: none;
    }

    main {
        min-height: 80vh;
    }
}