// login Page 

// main div

.login-box {
    width: 25rem;
    height: 25rem;
    margin: auto;
    margin-top: 6.5rem ;
    background-image: linear-gradient(65deg, #A9F1DF, #FFBBBB);
    border-radius: 2rem;

    // heading
    h1 {
        text-align: center;
        padding-top: 2.3rem;
    }

    // form
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 17rem;
        margin-left: 4rem;
        margin-top: 2rem;

        input {
            width: 100%;
            padding: 1rem;
            font-size: 1rem;
            border: none;
            margin-top: 0.3rem;
            border: 1px solid gray;
            border-radius: 1rem;
            outline: none;

            &:hover {
                color: black;
                background-color: lightblue;
                outline: none;
            }
        }

        input[type="submit"] {
            font-size: 1rem;
            width: 6.5rem;
            height: 3rem;
            margin-top: 2rem;
            border: none;
            color: whitesmoke;
            background-color: #49c1a2;
            transition: 0.3s transform;

            &:hover {
                background-color: #4bb543;
                transform: scale(1.2);
                cursor: pointer;
            }
        }
    }


    p {
        margin-top: 1.7rem;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 500;
        color: lightslategrey;

        a{
            color: blue;

            &:hover {
                color: rgba(0, 106, 255, 0.824);
            }
        }
    }
}
