#stud-profile-container {
    
    
    #stud-details {
        width: 30rem;
        margin: auto;
        position: relative;
        margin-bottom: 3rem;
        
        h2{
            margin: 2rem 0 0.2rem 0.2rem;
        }

        #stud-marks {
            display: flex;
            justify-content: space-between;
        }
        
    }

    .stud-show {
        background-color: #161B22; 
        padding: 0 1rem;
        margin-bottom: 0.5rem;
        border-radius: 0.7rem;
        letter-spacing: 0.2rem;

        .disp-tag {
            padding: 0.3rem 0;
            font-size: 1rem;
            color: lightgray;
        }

        .disp-name {
            padding-bottom: 0.3rem;
            font-size: 1.4rem;
        }
    }

    #iv-details {
        width: 30rem;
        margin: auto;
        position: relative;
        

        h2{
            margin: 2rem 0 0.2rem 0.2rem;
        }

        #iv-view {
            display: flex;
            justify-content: space-between;
            
        }
    }
} 