header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 3rem;
  background-color: #161b21;
}
header #logo-container {
  display: flex;
  align-items: center;
}
header #logo-container #image img {
  width: 3rem;
  height: 3rem;
}
header #logo-container #logo-name {
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
}
header ul {
  display: flex;
  justify-content: space-between;
}
header ul li {
  font-size: 1rem;
  padding-right: 1rem;
}